@font-face {
  font-family: 'Gotham Rounded';
  src: url('../public/fonts/gotham-rounded/GothamRoundedBold_21016.ttf') format('truetype');
}

@font-face {
  font-family: 'proxima-nova';
  src: url('../public/fonts/Proxima Nova Font.otf') format('truetype');
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 25%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.header-container {
  margin-top: 2em;;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1em;
  /* box-shadow: 2px 2px 2px grey; */
}

.logo-img {
  height:7em;
  margin:0;
}

.title-h1 {
  font-family:'Gotham Rounded';
  font-size: 5em;
  color: #424242;
  text-shadow: 1px 2px 2px #ef4a75;
}

.nav-container {
  display:flex;
  flex-direction: column;
}

.nav-ul {
  display:flex;
  align-items: center;
  font-family: 'Gotham Rounded';
  font-size: 1.2em;;
  display:flex;
  list-style: none;
  gap:2em;
}

/* popup styling */


.modal {
  font-family: 'proxima-nova', sans-serif;
  font-size: 12px;
  color: #434343;
  background: linear-gradient(40deg, #ffadb4 5%, #ffffff 90%);
  
  
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid #434343;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  display:flex;
  justify-content:center;
}

.form-input{
  display: block;
  width:100%;
  padding:0;
  margin-top:.3em;
  outline:none;
  box-sizing: border-box;
  border-radius: .5rem;
  border-width:1px;
  box-shadow: inset 1px 1px 1px;
  height:2em;
  padding-left: 10px;
  border-style: none;
  
}

.form-label {
  margin-bottom: 4px;
}


#form-input-btn {
margin-bottom:1.5em;
margin-top:1.5em;
font-size: ;
font-weight: bold;
border-width: 2px;
border-radius: .5em;;
/* border-color: #fd5564; */
}

#form-input-btn:hover {
  background: #ffadb4;
}

.modal > .form {
  display: flex;
  justify-content: center;
}



.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  19% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil .5s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.logo-nav-container {
  display: flex;
  margin:1em;
}

.logo-container {
  display:flex;
  flex-direction: column;
  justify-content: end;
}

.logo-text-img {
  max-width: 370px;
  margin:0
}

.tagline {
  text-align: center;
  font-family: 'Gotham Rounded';
  color:#fc3e4e;
  stroke: 2px;
}

a {
  text-decoration: none;
  color:#434343;
}

a:hover {
  color:#fd5564;
  text-shadow:0px 0px 1px #fe3c72;
}

.active {
  color:#fd5564;
  /* font-size: 25px; */
}

